.button {
  display: block;
  width: 100%;
  font-size: 28px;
  padding: 8px;
  border: 1px solid #0275d8;
  background-color: #0275d8;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s opacity ease;
  &--disabled {
    opacity: .6;
    cursor: auto;
  }
}
