.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__group {
    width: 100%;
    max-width: 480px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__field {
    width: 100%;
    font-size: 28px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 6px;
    transition: .2s opacity ease;
    &--disabled {
      opacity: .6;
    }
  }
}
